.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gallery;
  padding: 20px 25px;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
  }

  &__container {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__message {
    @include font-size(15);

    letter-spacing: 0;
    line-height: 23px;
    font-weight: 300;
    max-width: 733px;
    margin: 0;
  }

  &__title {
    @include font-size(37);

    line-height: 0.8;
    font-weight: 700;
    display: block;

    @include media-breakpoint-down(xl) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    @include font-size(22);

    line-height: 0.8;
    font-weight: 300;
  }

  &__button {
    @include font-size(20);
  }
}
