.home {
  &__main {
    height: 100vh;
    background-image: url('../../assets/images/pope.jpg');
    background-size: cover;
    position: relative;
    padding-top: 86px;
    display: flex;
    align-items: center;

    &-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
